/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* reset = structure de base du css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-image: url(../images/fondecran2.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 2000px; */
    /* min-width: 300px; */
    /* line-height: 1; */
    /* font-size: 1em; */
    height: auto;
    width: 100%;
    margin: 0 auto;
    /* padding: 0; */
    min-height: 100%;
    color: white;
    position: absolute;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* fin du reset = structure de base du css */


.titre {
    font-family: "Monoton",cursive;
    font-size: 6em;
    letter-spacing: 6px;
    line-height: 2em;
    padding-top: 0.5em;
    max-width: 42%;
    height:auto;
    width: auto;
}


.titre2 {
    font-family: "Monoton",cursive;
    font-size: 6em;
    letter-spacing: 6px;
    line-height: 2em;
    max-width: 42%;
    height:auto;
    width: auto;
    
}


.titre3 {
    font-family: "Monoton",cursive;
    font-size: 6em;
    letter-spacing: 6px;
    line-height: 2em;
    max-width: 42%;
    height:auto;
    width: auto;
    
}


/************************** MENU ***************************/

#menu {
    display: flex;
}

#onglets {
    display: flex;
    flex-direction: row;
    margin-left: 5em;
}


/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  padding-right: 2em;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/************************** FIN MENU ***************************/


a:visited {
    color: gray;
}


a:hover {
    color: white;
}
s

a:active {
    color: white;
}


a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 900;
    
}

.header {
    width: 100%;
    display: flex; 
    top: 0;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}


.aside-leftCreations header {
    display: flex;
    flex-flow: column nowrap;
}


.boutonCache {
    align-self: flex-end;
    background-color: transparent;
    border: medium none;
    color: white;
    font-size: 30px;
    margin: 3px;
    width: 50px;
    position: fixed;
}

.asideCache {
    overflow: hidden;
    left: -15em;
    height: 3em !important;
}


.warpper {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    font-size: 100%;
    text-align: right;;
    margin-bottom: 5%;
    padding: 6%;
}


        /* barre de progression */

.h3competences {
    display: flex;
    font-size: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
    text-decoration: underline;
}


.liprogress {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-left: 1em;
}


.licompetences {
    line-height: 25px;
}


.competences {
    display: flex;
    font-size: 1em;
    text-align: left;
}


progress {
    background: black none repeat scroll 0 0;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    width: 8em;
    
}



progress::-moz-progress-bar {
   background: olivedrab;
   box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4),
               0 2px 5px 0px rgba(0,0,0,0.3);
}

        /* fin de barre de progression */


.aside-leftCreations {
    float: left; /* sa colle le aside directmeent a gauche */
    background: black none repeat scroll 0 0;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    letter-spacing: 1px;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 999;
}



 .photoCreation {
    width: 450px;
    height: 260px;
   
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-left: 8%;
}

.flex-item {
    background-color: none;
    width: 450px;
    height: 260px;
    margin: 2%;
}

                      /* Images */
/*
.image {
    position: relative;
    display: inline-block;
}

.image img {
    display: block;
    width: 95%;
}


.image.fit {
    display: block;
    width: 100%;
}


.gallery {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 45em;
    max-width: 100%;
    margin: 0 auto 2em auto;
}

.gallery article {
    transform: translateX(0);
    width: 50%;
    position: relative;
    opacity: 1.0;
}

.gallery article .image {
    margin: 0;
    display: block;
}

    
                                            /* Main */
/*
.main {
    display: flex;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.main > .content {
    width: 45em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

.main.fullscreen {
    min-height: 100%;
}

.main.style1 {
    justify-content: center;
    text-align: center;
    padding: 3em 0 3em 0;
}

.main.style1 h2 {
    font-size: 4.25em;
    line-height: 5em;
}

.main.style1 > .content {
    transform: translateZ(0);
    opacity: 1.0;
    margin: 0;
}


.main.style2 {
    text-align: center;
    padding: 2em 0 1em 0;
}

.main.style2 .content > header {
    margin-bottom: 2em;
}


.main.dark {
    color: #ffffff;
}	

*/


/****************** Float Shadow *******************/


.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/****************** Fin Float Shadow *******************/



.aside-left {
    float: left; /* sa colle le aside directmeent a gauche */
    background: black none repeat scroll 0 0;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    letter-spacing: 1px;
    max-width: 16em;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 998;
}


.photo {
    align-self: center;
    border: 1px solid black;
    border-radius: 6em;
    margin: 10px;
    width: 12em;
}


.prenom {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
}


/****************** A Propos *******************/


.photoAPropos{
    width: 20em;
    display: flex;
    align-self: center;
    border: 1px solid black;
    border-radius: 6em;
    margin: 10px;
    width: 12em;
}


.prenomAPropos {
    font-size: 5em;
    font-weight: 900;
    margin: 1.5em;
    background-color: black;
    opacity: 0.9;
}


.devAPropos {
    font-size: 2em;
    font-weight: 300;
    font-style: oblique;
    margin: 7px;
}


.textAPropos {
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: bold;
    max-width: 300px;
    letter-spacing: 2px;
    background-color: black;
    opacity: 0.9;    
    justify-content: space-between;
    text-align: center;
}


.aPropos {
    display: flex;
    justify-content: space-between;
}


/****************** Fin A Propos *******************/


/******************  Contact *******************/



.textContact {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 1000px;
    opacity: 0.9;
}



/******************  Fin Contact *******************/

footer {
    background-color: black;
    bottom: 0;
    clear: both;
    display: flex;
    height: 10%;
    left: 0;
    line-height: 35px;
    opacity: 0.9;
    position: fixed;
    right: 0;
    width: 100%;
    flex-direction: column;
    z-index: 999;
    text-align: center;
} 


footer p {
    display: flex;
    margin: 0 auto;
}


.logoFooter {
    width: 40%;
}


.footerLiens {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
}

/*@media screen and (max-width: 1300px) {
    .photohaut, .photobas {
        padding-left: 10em;
    }
}*/

    


@media screen and (max-width: 1100px) {
    .aside-leftCreations {
        position: none;
    }
    
}



@media screen and (max-width: 1800px) {
    .flex-container {
        flex-direction: column;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
}
    
    .titre, .titre2, .titre3 {
        
        max-width: 35%;
    }
    
    #menu {
        padding-left: 10%;
        width: 100%;
    }
    
    .flex-item {
        margin: 10%;
    }
    
    .aside-leftCreations {
        position: relative;
    }
    .boutonCache {
        position: relative;
    }
    
}



