/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* reset = structure de base du css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-image: url(../images/ecranfond.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2000px;
    min-width: 300px;
	line-height: 1;
    font-size: 1em;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* fin du reset = structure de base du css */


.titre {
    font-size: 4em;
}

.menu {
    
}


a:visited {
    color: gray;
}


a:hover {
    color: red;
}
s

a:active {
    color: red;
}


a:link {
    text-decoration: none;
    color: chartreuse;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 900;
    
}

.header {
    width: 100%;
    display: flex; 
    top: 0;
    justify-content: center;
}


.warpper {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;
    text-align: center;
    margin-top: 8%;
}

.photohaut{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.photobas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.photocv {
    width: 12em;
    padding-right: 1em;
}


.photodev {
    width: 12em;
}


.photositeperso {
    width: 12em;
    padding-right: 1em;
}


.photoreseau {
    width: 12em;
}



.aside-left {
    float: left; /* sa colle le aside directmeent a gauche */
    background: black none repeat scroll 0 0;
    display: flex;
    flex-flow: column nowrap;
    height: 125%;
    letter-spacing: 1px;
    max-width: 16em;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    top: 0;
}


.photo {
    width: 10em;
    border: 1px solid black;
    border-radius: 5em;
}


.prenom {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
}


footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 8.5em;
    width: 100%;
    clear: both; /* sert a mettre le footer en bas */
}
